<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- options %>
    <title>Erro</title>
</head>
<body>
    <div class="root">
        <%- header %>

        <div>
            <%- errorMessage %>
        </div>

        <%- footer %>
    </div>
</body>
</html>